<header class="d-flex justify-content-center py-3">
    <ul class="nav nav-pills">
      <li class="nav-item"><a href="#" class="nav-link active" aria-current="page">Home</a></li>
      <li class="nav-item"><a href="#" class="nav-link">Buses and Chauffeur</a></li>
      <li class="nav-item"><a href="#" class="nav-link">Routes</a></li>
      <li class="nav-item"><a href="#" class="nav-link">Schedules</a></li>
      <li class="nav-item"><a href="#" class="nav-link">Buy Ticket</a></li>
    </ul>
</header>