{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="row" id='app'>
        <div class="col-lg-8 offset-lg-2">
            <nav>
                <div class="nav nav-tabs" id="nav-tab" role="tablist">
                  <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home" aria-selected="true">
                        List the journeys with their average number of passengers
                  </button>
                  <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile" aria-selected="false">
                        Percentage of buses per route
                  </button>
                </div>
              </nav>
              <div class="tab-content" id="nav-tabContent">
                <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                    <!-- tab 1 open -->
                    <table class="table">
                        <thead>
                          <tr>
                            <th scope="col">Route</th>
                            <th scope="col">Trip ID</th>
                            <th scope="col">Passengers total</th>
                            <th scope="col">Average</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr v-for="data_1 in data_tab_1" :key="data_1.route">
                            <th scope="row">{$ data_1.route__route__name $}</th>
                            <td>{$ data_1.route $}</td>
                            <td>{$ data_1.count $}</td>
                            <td>{$ data_1.average $}</td>
                          </tr>
                        </tbody>
                      </table>
                    <!-- tab 1 closed -->
                </div>
                <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                    <!-- tab 2 open -->
                    <div class='row'>
                        <div class='col-lg-4'>
                            <form>
                                <fieldset>
                                  <legend>Select for filter</legend>
                                  <div class="mb-3">
                                    <label for="quantity" class="form-label">Route</label>

                                    <select class="form-select" v-model="select" required>
                                        <option v-for="option in select_route" v-bind:value="option.id">{$ option.name $}</option>
                                    </select>

                                  </div>
                                  <div class="mb-3">
                                    <label for="quantity" class="form-label">Percentage (1% to 100%)</label>
                                    <input type="number" id="percentage" name="percentage" v-model="percentage" min="1" max="100" required>
                                  </div>
                                  <button type="button" class="btn btn-primary" v-on:click="btn_buscar_buses()">Search</button>
                                </fieldset>
                              </form>
                        </div>
                        <div class='col-lg-8'>
                            <table class="table">
                                <thead>
                                  <tr>
                                    <th scope="col">Plate</th>
                                    <th scope="col">Tickets</th>
                                    <th scope="col">Average</th>
                                  </tr>
                                </thead>
                                <tbody>
                                  <tr v-for="p in percentage_list" :key="p.plate">
                                    <td>{$ p.plate $}</td>
                                    <td>{$ p.tickets $}</td>
                                    <td>{$ p.average $}</td>
                                  </tr>
                                </tbody>
                              </table>
                        </div>
                    </div>
                    <!-- tab 2 closed -->
                </div>
              </div>
        </div>
    </div>

{% endblock content %}

{% block js %}
    <script src="{% static 'vue/apps/boleteria/statistics.js' %}" ></script>
{% endblock js %}