{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class='row' id='app'>

        <div class='col-lg-12 align-items-center'>
            <div class="col-auto">
                <h3>Add new Bus</h3>
                <label for="inputplate" class="col-form-label">Plate</label>
              </div>
              <div class="col-auto">
                <input type="text" v-model="new_plate_for_bus" class="form-control" placeholder='New plate' maxlength="6">
              </div>
              <div class="col-auto">
                <button type="button" class="btn btn-primary" v-on:click="btn_add_new_bus()">Add new Bus</button>
              </div>
        </div> 

        <div class='col-lg-8 offset-lg-2'>
            <h3>Buses list</h3>
            <table class="table">
                <thead class="thead-dark">
                <tr>
                    <th scope="col">ID internal</th>
                    <th scope="col">ID external</th>
                    <th scope="col">Plate</th>
                    <th scope="col">Create date</th>
                </tr>
                </thead>
                <tbody>
                    <tr v-for="bus in bus_list" :key="bus.id">
                        <th scope="row">{$ bus.id $}</th>
                        <td>{$ bus.bus_id $}</td>
                        <td>{$ bus.plate $}</td>
                        <td>{$ bus.create_date $}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
{% endblock content %}

{% block js %}
    <script src="{% static 'vue/apps/flota/bus_list.js' %}" ></script>
{% endblock js %}