{% extends 'base.html' %}
{% load static %}

{% block content %}
    
    <table class="table" id='app'>
        <thead class="thead-dark">
        <tr>
            <th scope="col">ID internal</th>
            <th scope="col">ID external</th>
            <th scope="col">Plate</th>
            <th scope="col">Create date</th>
        </tr>
        </thead>
        <tbody>
            <tr v-for="bus in bus_list" :key="bus.id">
                <th scope="row">{$ bus.id $}</th>
                <td>{$ bus.bus_id $}</td>
                <td>{$ bus.plate $}</td>
                <td>{$ bus.create_date $}</td>
            </tr>
        </tbody>
    </table>

{% endblock content %}

{% block js %}
    <script src="{% static 'vue/apps/flota/bus_list.js' %}" ></script>
{% endblock js %}